<div class="margin-bottom-sm" fxLayout="column" fxFlex="100%" fxFlex.md="49.5%" fxFlex.gt-md>
    <div class="margin-top">
        <!-- <select (change)="selectdoctor($event.target.value)">
            <option>Select Doctor</option>
            <option value="8">Dr Ramesh</option>
            <option value="203">Dr Akshay</option>
            <option value="204">Dr Manoj</option>
        </select> -->
        <md-select placeholder="Select Doctor">
            <md-option *ngFor="let item of Doctors" value="item.resource" (click)="selectdoctor(item.resource)">
                {{ item.resname }}
            </md-option>
        </md-select>
        <!-- <ms-activity-visits [visits]="allVisits" style="cursor:pointer;"></ms-activity-visits> -->
        <!-- <div *ngFor="let booking of allVisits"> -->
        <!-- <div class="text-center">
                <span style="font-size:13px">{{booking[0]}} <b>({{booking[1].length}})</b></span>
            </div> -->
        <md-list>
            <span *ngFor="let book of allVisits">
                <md-list-item  style="border: 1px solid #999;margin-bottom: 13px;" (click)="editDialog(book)">
                    <img md-list-avatar src="{{book.image}}" class="visitsImage">
                    <h3>{{book.name}}</h3><br/>
                    <p>{{book.sex}}</p>
                    <button>{{book.display_starttime}}</button>

                </md-list-item>
                  <input type="button" name="" value="Delete" style="margin-left:5px;" (click)="deletevisits(book.id)">
        </span>
        </md-list>
        <!-- </div> -->
        <button md-raised-button type="button" (click)="openAddNewVisit()" color="primary">Add Visit</button>
        <button md-raised-button type="button" (click)="loadMore()" *ngIf="nextDate!=''" color="primary">Load More</button>
    </div>
</div>
<style>
    .visitsImage img {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin-top: 0;
        margin-left: -7px;
    }
</style>