<div class="user-button-container" #userButton (msClickOutside)="onClickOutside()">
    <button class="user-button" md-button (click)="toggleDropdown()" [class.open]="isOpen">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" src="{{profile_pic}}">
      <span class="name" fxHide fxShow.gt-sm>{{name}}</span>
      <md-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</md-icon>
    </span>
  </button>

    <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
        <div class="content">
            <div class="list">
                <div class="item" fxLayout="row" fxLayoutAlign="start center" style="outline:none;" md-ripple [routerLink]="['/profile']">
                    <md-icon class="icon">account_circle</md-icon>
                    <span class="title"> Profile</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple>
                    <md-icon class="icon">settings</md-icon>
                    <span class="title"> Settings</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple [routerLink]="[ '/google_analytics']">
                    <md-icon class="icon ">help</md-icon>
                    <span class="title "> Google Analytics</span>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple [routerLink]="[ '/compose_message']">
                    <!-- <md-icon class="icon ">Message</md-icon> -->
                    <i class="material-icons">message</i>
                    <span class="title "> Compose Message</span>
                </div>
                <md-divider></md-divider>
                <div (click)="logout() " class="item " fxLayout="row " fxLayoutAlign="start center " md-ripple [routerLink]="[ '/login'] ">
                    <md-icon class="icon ">exit_to_app</md-icon>
                    <span class="title "> Logout</span>
                </div>
            </div>
        </div>
    </div>
</div>