<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">
  
  <div class="margin-top" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">

<div class="margin-bottom-sm" fxLayout="column" fxFlex="100%" fxFlex.md="49.5%" fxFlex.gt-md>
      <div class="margin-top">
        <div class="w3-row">
        <div class="w3-col s6" *ngFor="let blog of allBlogs" style="background-color: white !important;color: black !important;width: 48% !important; margin:10px;">
          
          <img [src]="blog.image.url" style="width:100%" (click)="openBlogView(blog.postid)">
          <div class="w3-container w3-center" (click)="openBlogView(blog.postid)">
            <p style="margin-top:5px;">{{ blog.title  }}</p>
          </div>
          <button md-button color="primary" [routerLink]="['/content_editor', blog.postid,blog.published]">Edit</button>
<button md-button color="primary" (click)="openDeleteConfirmationDialog(blog.postid)">Delete</button>
        </div>
      </div>
        <button md-raised-button type="button" [routerLink]="['/content_editor', '0','100']" color="primary">Add New Blog</button>
        <button md-raised-button type="button" (click)="moreBlogsLoaded()" color="primary">Load More</button>
      </div>
    </div>
  </div>
</div>
