<input type="text" placeholder="Search to type" [(ngModel)]="search" name="search">

<table border="1">
    <tr *ngFor="let item of pagedItems | filter: search">
        <td (click)="openDialog(item)" style="cursor:pointer;">{{item.firstname}} {{item.surname}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.email}}</td>
        <td>{{item.mobile}}</td>

    </tr>
</table>

<p *ngIf="(pagedItems | filter: search) ==''">No matching elements</p>

<div>
    <div class="container">
        <div class="text-center">


            <!-- items being paged -->
            <div *ngFor="let item of pagedItems">{{item.name}}</div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>